.advanced_select {
  margin: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  display: block;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 10px 6px;
  transition: all 200ms ease;
}

.advanced_select__options_wrap{
  display: none;
}

.advanced_select__option{
  padding: 2px 0;
  padding-left: 15px;
}

.advance_select_menu{
  display: block;
}

.advanced_select__searchbox{
  font-size: 16px;
  line-height: 24px;
  width: 94%;
  margin: 10px 2px;
  border: 1px solid #ccc;
  padding: 10px 5px;
  color: #333;
  padding-left: 50px;
}

@media (max-width: 768px) {
  .advanced_select__searchbox{
     width: 80%;
  }

  .advanced_select__option{
    padding: 4px 0;
  }
}

@media (max-width: 330px) {
  .advanced_select__searchbox{
    width: 60%;
 }
}

.placeholder{
  padding-left: 4px;
  padding-right: 40px;
}

.advanced_select__placeholder_wrap{
  position: relative;
}

.advanced_select__placeholder_wrap.disabled, .advanced_select__placeholder_wrap.disabled .placeholder{
  color: #ccc;
}

.arrow_icon{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 5px;
}


/* search box */

.input_container{
  position: relative;
}

.search_icon{
  position: absolute;
  top: 24px;
  left: 14px;
}